.after{
    /* visibility: hidden; */
    opacity: 0;
    position: relative;
}

.mobile-nav{
    margin: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFDB67;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.mobile-nav a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.3s;
    padding: 2px 8px;
}

.mobile-nav a:hover{
    color: white;
    background-color: black;
}

.mobile-nav .button{
    color: white;
    margin-top: 20px;
    background-color: black;
    padding: 5px 80px;
    transition: 0.3s;
    margin-bottom: 20px;
}

.mobile-nav .button:hover{
    transform: scale(1.04);
}

nav{
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #FFDB67;
    box-shadow: 0 0 10px 5px rgba(221, 170, 1, 0.3);
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

i{
    font-size: 30px;
    cursor: pointer;
}

@media(max-width: 1000px){
    .nav-items{
        display: none;
    }
    .connect a{
        display: none;
    }
    nav{
        grid-template-columns: 1fr 50px;
    }
    .logo{
        justify-content: start !important;
    }
    .connect{
        justify-content: end !important;
    }
}
@media (min-width: 1000px){
    i{
        visibility: hidden;
    }
    .after{
        visibility: hidden;
    }
}

nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo img{
    width: 180px;
    height: 70px;
}

.nav-items{
    margin: 0 20px;
    height: 70px;
}

.nav-items ul{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
}

.nav-items ul li{
    margin-right: 14px;
}

.nav-items ul li a{
    padding: 4px 8px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    border: transparent;
    border-radius: 14px;
}

.nav-items ul li a:hover{
    background-color: black;
    color: white;
}

.active{
    background-color: black;
    color: white !important;
}

.connect{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.connect a{
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    border: transparent;
    background-color: black;
    transition: 0.3s;
}

.connect a:hover{
    transform: scale(1.03);
    color: white;
}